body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffffff; /* White background color */
    border-bottom: 2px solid #ccc; /* Separator line */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to the start and end */
}

img {
    max-width: 20%; /* Max 20% of the width */
    height: auto;
}

h1 {
    margin: 0;
    white-space: nowrap; /* Prevent text from wrapping to multiple lines */
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis (...) if the text overflows */
}

.button-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

h2 {
    font-size: 20px; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Add some space below the title */
    color: #333; /* Set the title color */
    text-align: left; /* Align the text to the left */
}

a {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none; /* Remove default underline for links */
    color: #fff; /* Set link color */
    background-color: #1D6A68; /* Set background color */
    border: 1px solid #000000; /* Set border color */
    border-radius: 4px; /* Add border radius for a button-like appearance */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* Responsive font size for the text header */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 16px;
    }
}

